colorama>=0.4.1
aiohttp<3.6.0,>=3.3.0
websockets<7.0,>=6.0
discord.py>=1.2.2
mysql-connector-python>=8.0.16
urllib3>=1.21.1
yarl<2.0,>=1.0
idna-ssl>=1.0
idna>=2.0
attrs>=17.3.0
typing-extensions>=3.6.5
